.background-card-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
    object-fit: cover;
}

.zoom-effect {
    position: relative;
    overflow: hidden;
}

.main-project-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    background: black;
    z-index: 1;
}

.zoom-effect:hover .main-project-image {
    transform: scale(1.1);
}

.card-body {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 90;
    background-color: rgba(0, 0, 0, 0.5);
}

.zoom-effect:hover .card-body {
    opacity: 1;
}

.zoom-effect .overlay,
.zoom-effect .overlayB {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    border-radius: 6px;
    opacity: 0.5;
}

.zoom-effect .overlay {
    height: 0%;
    left: 0;
    transition: all .6s ease;
}

.zoom-effect .overlayB {
    height: 0%;
    left: 0;
    transition: all .3s ease;
}

.zoom-effect:hover .overlay {
    height: 100vh;
}

.zoom-effect:hover .overlayB {
    height: 100vh;
}
