<footer class="text-center">
    <div class="py-2">
        <p1 class="mb-0">© 2024 Aether Dispuut</p1>
    </div>
    <div class="py-1">
            <section class="mb-1">
                <a class="btn btn-outline-light btn-floating m-1 raise" href="https://www.instagram.com/aether_dispuut"
                   target='_blank' role="button" data-toggle="tooltip" data-placement="top" title="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1 raise" href="https://github.com/QuintWes" target='_blank'
                   role="button" data-toggle="tooltip" data-placement="top" title="GitHub">
                    <i class="fab fa-github"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1 raise" href="https://svxtend.nl/"
                   target='_blank'
                   role="button" data-toggle="tooltip" data-placement="top" title="xtend">
                    <i class="fab fa-x-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1 raise" href="https://www.facebook.com/profile.php?id=100063623123622"
                   target='_blank'
                   role="button" data-toggle="tooltip" data-placement="top" title="Facebook">
                    <i class="fab fa-facebook"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1 raise"
                   href="https://open.spotify.com/playlist/482FpC0ueJrsZALpwiCPCa?si=5e37fdefb0d34c8e" target='_blank' role="button"
                   data-toggle="tooltip" data-placement="top" title="Spotify Aether playlist">
                    <i class="fab fa-spotify"></i>
                </a>
            </section>
    </div>
</footer>
